---
import Layout from "../layouts/Layout.astro";
import Map from "../components/Map.astro";
---

<Layout>
  <div class="fixed inset-0 flex justify-center items-center overflow-hidden">
    <div class="w-full h-full">
      <Map />
    </div>
  </div>
</Layout>
