---
import Layout from "../layouts/Layout.astro";
import Map from "../components/Map.astro";
---

<Layout
  pageTitle="Patrick Fuchs"
  description="I'm a software engineer and product lead with a passion for building products that help people live better lives."
>
  <div class="flex justify-center items-center">
    <div class="w-[100vw] h-[min(90vh,90vw)]">
      <Map />
    </div>
  </div>
</Layout>