---
import Layout from "./Layout.astro";
---

<Layout>
  <div
    class="flex flex-col bg-[var(--color-background)]/50 mx-auto mt-32 py-16 max-w-7xl text-[var(--color-text)]"
  >
    <div
      class="prose-invert max-w-7xl prose-h1:text-[var(--color-primary)] prose-h2:text-[var(--color-secondary)] prose"
    >
      <slot />
    </div>
  </div>
</Layout>
